name: Update locales

permissions:
  contents: write

on:
  schedule:
    - cron: 0 */1 * * *
  workflow_dispatch:
    inputs:
      export_languages:
        description: Comma-separated languages to export (en-US), blank for all
        type: string
        required: false

jobs:
  minecraft:
    name: Minecraft
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name: Set up Python and uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.11

      - name: Install dependencies
        env:
          DOTNET_CLI_WORKLOAD_UPDATE_NOTIFY_DISABLE: true
        run: |
          uv sync
          git submodule update --init
          cd tools/XvdTool.Streaming
          dotnet publish XvdTool.Streaming/XvdTool.Streaming.csproj -c Release -o ./x64 -r win-x64 --no-self-contained -nowarn:ca1416,ca2022,cs0168

      - name: Update language files
        env:
          BEDROCK_EDITION: ~~
          CIK_DATA: ${{ secrets.CIK_DATA }}
          EXPORT_LANGUAGES: ${{ inputs.export_languages }}
          JAVA_EDITION: ~~
        run: |
          git config user.name 'GitHub Actions'
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          uv run scripts/java/update.py
          if ($env:JAVA_CHANGED -eq 'True') {
            git add .
            git commit -m "Update Minecraft: Java Edition $env:JAVA_EDITION locales"
          } else {
            git checkout -- versions.json
          }
          $JAVA_COMMIT = git log --grep '^Update Minecraft: Java Edition .* locales$' -1 --format=%H
          uv run scripts/bedrock/extract.py
          if ($env:BEDROCK_CHANGED -eq 'True') {
            uv run scripts/bedrock/merge.py
            git add .
            git commit -m "Update Minecraft: Bedrock Edition $env:BEDROCK_EDITION locales"
          } else {
            git checkout -- versions.json
          }
          $BEDROCK_COMMIT = git log --grep '^Update Minecraft: Bedrock Edition .* locales$' -1 --format=%H
          git push
          git submodule deinit tools/XvdTool.Streaming
          git clean -fdx
          git fetch origin history:history
          git switch --force history
          $data = Get-Content -path data.json
          $readme = Get-Content -path README.md
          if (-not ($readme | Select-String -pattern "<!--JE-->$env:JAVA_EDITION" -quiet)) {
            $data = $data.replace('"java": {', """java"": {
              ""$env:JAVA_EDITION"": ""$env:JAVA_COMMIT"",")
            $readme = $readme.replace('|:----------:|:----------:|
          | <!--JE-->', "|:----------:|-----------:|
          | <!--JE-->$env:JAVA_EDITION | $env:JAVA_COMMIT |
          | <!--JE-->")
          }
          if (-not ($readme | Select-String -pattern "<!--BE-->$env:BEDROCK_EDITION" -quiet)) {
            $data = $data.replace('"bedrock": {', """bedrock"": {
              ""$env:BEDROCK_EDITION"": ""$env:BEDROCK_COMMIT"",")
            $readme = $readme.replace('|:----------:|:----------:|
          | <!--BE-->', "|:----------:|:----------:|
          | <!--BE-->$env:BEDROCK_EDITION | $env:BEDROCK_COMMIT |
          | <!--BE-->")
          }
          Set-Content -path data.json -value $data
          Set-Content -path README.md -value $readme
          git add .
          git commit -m 'Record history'
          git push --set-upstream origin history
